<div class="event">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- events.lmlab.net -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-2854141448142469"
       data-ad-slot="6544720452"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
