<h1><%= @user.name %> 主催のイベント</h1>
<h3>近日開催</h3>
<div class="row">
  <% @upcomings.each do |event| %>
    <%= render partial: 'event', locals: {event: event} %>
  <% end %>
</div>
<h3>開催済み</h3>
<div class="row">
  <% @ends.each do |event| %>
    <%= render partial: 'event', locals: {event: event} %>
    <% end %>
</div>
