<div class="row">
    <% @events.each do |event| %>
      <%= render partial: 'event', locals: {event: event} %>
    <% end %>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>このサイトについて</h2>
    <p>「LM Events」では、シンプルなイベント告知ページを作ることができます。</p>
    <p>Ruby on Railsの勉強会の習作をそのまま公開しています。
      ユーザ登録してイベント告知に使って頂くもよし、GitHubのソースコードをフォークして独自のサイト作りに役立てて頂いても構いません。
      規約やライセンスは設けていませんが、良識のある利用をお願い致します（不適切と判断した投稿は予告なく削除することがあります）。
      </p>
    <p>
    <a href="https://github.com/yosei/events.lmlab.net">https://github.com/yosei/events.lmlab.net</a>
    </p>
  </div>
</div>
