<div class="row">
  <% if @events.empty? %>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          開催予定のイベントはありません。
        </div>
      </div>
    </div>
  <% else %>
    <% @events.each_with_index do |col,i| %>
      <div class="col-sm-4">
        <% col.each_with_index do |event,j| %>
          <%= render partial: 'event', locals: {event: event,index: j} %>
        <% end %>
        <%= render 'ad1' if i == 2 %>
      </div>
    <% end %>
    <div class="col-sm-12 visible-xs"><%= link_to 'もっと見る', root_path(all: true), class: 'btn btn-default' unless @all %></div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12 text-right">
    <%= link_to '開催済み', events_pasts_path, class: 'btn btn-default' %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>このサイトについて</h2>
    <p>「LM Events」では、シンプルなイベント告知ページを作ることができます。</p>
    <p>SNS等でのイベント告知のランディングページとしての利用を想定しています。
      目的・ジャンルを問わず、様々なタイプのイベントの告知にお使い頂けます。
      細かい規約は設けていませんが、良識のある利用をお願い致します（不適切と判断した投稿は予告なく削除することがあります）。</p>
    <h3>イベント情報を探している方へ</h3>
    <p>一部の情報はネットの情報を収集して転載したものです（各詳細ページに注意書き、一覧ページに「via..」と表記があるもの）。
      主催者の発信する情報が更新されて齟齬が生じる可能性があります。<b>必ず主催者が直接発信する一次情報を確認してください。</b>
    </p>
    <h3>掲載を希望される方へ</h3>
    <p>以下のいずれかの方法をご利用ください。</p>
    <ol>
      <li>右上の「ユーザ登録」からアカウント作成をすると、管理画面へとアクセスすることができるようになります。
        「新しいイベントを登録する」からご自身のイベントを登録することができます。</li>
      <li>Takachiho.rbのデスク（コワーキングスペース452内）まで、チラシ等をお持ちください。掲載を代行致します。</li>
      <li>掲載リクエストフォーム（準備中）</li>
    </ol>
    <p><small>2.3.は単発のイベントに限ります。週1回以上の定期的なイベントは1.の方法でご自身で管理頂くようお願い致します。</small></p>
    <!--
      望まない情報が掲載されてしまった方へ
    -->
  </div>
<div class="col-md-6">
  <h2>このアプリについて</h2>
  <p>Ruby on Railsの勉強会で作った習作をそのまま配備しています。
    ソースコードは<a href="https://github.com/lumbermill/events.lmlab.net">GitHubで公開</a>していますので、
    自由にフォークして独自のサイト作りに役立てて頂いても構いません。機能追加のリクエストや不具合報告も歓迎します。</p>
</div>
</div>
