body{
  background: image-url("hemp-cloth-04.jpg") repeat;
  /*background: image-url("cork.jpg") repeat;*/
}

.navbar {
  margin-bottom: 20px;
  background: image-url("wood-oil-bk.jpg") repeat;
  border-bottom-color: brown;
}

.alert {
  box-shadow: none;
}

footer.footer {
  border-top: brown 1px solid;
  margin: 20px auto 0 auto;
  padding: 20px;
  text-align: center;
  clear: both;
  background: image-url("wood-oil-bk.jpg") repeat;
}

footer.footer a{
  color: darkgray;
}

div.event{
  background-color: #eee;
  padding: 6px;
  border-radius: 2px;
  margin-bottom: 30px;
  box-shadow: #666 3px 3px 3px;
}

div.event h3{
  margin-top: 6px;
}

div.event img{
  width: 100%;
  border-radius: 6px;
}

div.event-detail img{
  width: 100%;
}

div.event-detail img.icon{
  width: 24px;
  border-radius: 0;
}

small.small-alert{
  display: block;
  background-color: #fcf8e3;
  margin: 6px;
  padding: 6px;
}

table.event{
  background-color: #eee;
  box-shadow: #666 3px 3px 3px;
  border-radius: 2px;
}
