.navbar {
  margin-bottom: 20px;
}

.alert {
  box-shadow: none;
}

footer.footer {
  border-top: #e7e7e7 1px solid;
  margin: 20px auto 0 auto;
  padding: 20px;
  text-align: center;
  clear: both;
}

footer.footer a{
  color: darkgray;
}

div.event{
  background-color: #eee;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 30px;
}

div.event h3{
  margin-top: 6px;
}

div.event img{
  width: 100%;
  border-radius: 6px;
}

div.event-detail img{
  width: 100%;
}

div.event-detail img.icon{
  width: 24px;
  border-radius: 0;
}

small.small-alert{
  display: block;
  background-color: #fcf8e3;
  margin: 6px;
  padding: 6px;
}
