<p><%= @resource.email %> さん</p>

<p>パスワードのリセットがリクエストされました。以下のリンクをクリックして手続きを完了できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールに心当たりがない場合は、このメールを破棄してください。</p>
<p>あなたのパスワードは上記のリンクをクリックしない限り、変更されません。</p>
