<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "<span class='glyphicon glyphicon-calendar'></span> LM Events".html_safe, root_path, class: "navbar-brand" %>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li><%= link_to "<span class='glyphicon glyphicon-home'></span>".html_safe, events_path %></li>
				<% else %>
					<li><%= link_to 'ユーザ登録', new_user_registration_path %></li>
					<li><%= link_to '<span class="glyphicon glyphicon-log-in"></span> ログイン'.html_safe, new_user_session_path %></li>
				<% end %>
			</ul>
		</div><!--/.nav-collapse -->
	</div><!--/.container-fluid -->
</nav>
