<!-- Static navbar -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "<span class='glyphicon glyphicon-book'></span> LM Bookshelf".html_safe, root_path, class: "navbar-brand" %>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<form class="navbar-form navbar-right" role="search" action="<%= books_path %>">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="キーワードを入力" name="q" value="<%= @keyword %>"/>
				</div>
				<button type="submit" class="btn btn-default">
					<span class="glyphicon glyphicon-search" title="検索"></span>
				</button>
			</form>
		</div><!--/.nav-collapse -->
	</div><!--/.container-fluid -->
</nav>
